*{
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
}
.container{
    width: 100%;
    padding: 0;
    background-color:  #ebedf1
    ;
  }
header{
    width: 100%;
    background-color: #536dad;
}
a{
    font-size: 23px;
    font-weight: 500;
}
nav{
    width: 80%;
    padding: 24px 38px 24px 0;
    margin: auto;
    /* padding-right: 20%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    display: flex;
    color: rgb(242, 133, 133);
}
nav .logo h1{
    font-size: 34px;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.items li{
    margin:10px auto;
    background-color: aliceblue;
}
nav ul li{
    padding: 8px 16px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

.logo img{
    width: 120px;
    margin-right: 24px;
}
.page-contain{
    width: 80%;
    margin: auto;

}
.items{
    width: 100%;
}
.row{
    display: flex;
    /* justify-content: space-between; */
}
.row h2{
    font-size: 29px;
    color: 	#3a6c7a;
    font-weight: 600;
}
.display{
   flex-basis: 20%;
   margin-right: 18px;
    background-color: brown;
    padding: 18px;
    border-radius: 100%;
    overflow: hidden;
}
.display img{
    width: 100%;
    border-radius: 100%;
    height: 100%;
}
.content{
    flex-basis: 65%;
    padding: 20px;
     /* background-color: brown; */
 }
 button{
    background-color: #7a683a;
    padding: 8px 12px;
    color: #fff;
    border: none;
 }
 